<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden  dark:border-l">
        <img src="assets/imgs/signupLogo.png">
    </div>


    <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-60">
                <img src="assets/imgs/douane_logo 1.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Creation de compte Agent de la Douane</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Avez vous un compte?</div>
                <a
                        style="color: coral"
                    class="ml-1 hover:underline"
                    [routerLink]="['/sign-in']">Se connecter
                </a>
            </div>




                    <div [formGroup]="signUpForm" class="flex flex-col gt-xs:flex-row gt-xs:items-start">
                        <div class="flex-auto">

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Matricule</mat-label>
                                    <input
                                            formControlName="matricule"
                                            matInput
                                            [placeholder]="'Votre matricule'">
                                    <mat-icon class="icon-size-5" matPrefix>badge</mat-icon>
                                </mat-form-field>
                            </div>


                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Prénom</mat-label>
                                    <input
                                            formControlName="prenom"
                                            matInput
                                            [placeholder]="'Prénom'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >person</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Nom</mat-label>
                                    <input
                                            formControlName="nom"
                                            matInput
                                            [placeholder]="'Nom'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >person</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Email</mat-label>
                                    <input
                                            formControlName="email"
                                            matInput
                                            [placeholder]="'Email'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >mail</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Téléphone</mat-label>
                                    <input
                                            formControlName="numero"
                                            matInput
                                            [placeholder]="'Téléphone'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >call</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Poste</mat-label>
                                    <input
                                            formControlName="poste"
                                            matInput
                                            [placeholder]="'Votre poste actuel'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >work</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Departement</mat-label>
                                    <mat-select  formControlName="departement">
                                        <mat-option *ngFor="let depts of departements" [value]="depts"> {{ depts }}</mat-option>
                                    </mat-select>
                                    <mat-icon class="icon-size-5" matPrefix>business</mat-icon>
                                </mat-form-field>
                            </div>

                            <!-- <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <mat-label>Filière</mat-label>
                                    <input
                                            formControlName="filiere"
                                            matInput
                                            [placeholder]="'Filière'">
                                    <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                    >school</mat-icon>
                                </mat-form-field>
                            </div> -->

                            <input #imagePicker hidden="" type="file" (change)="fileChangeEvent($event)" />

                            <button
                                    (click)="pickImage()"
                                    style="margin-top: 30px;"
                                    class="px-3 mr-1"
                                    mat-button>
                                <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:photo'"></mat-icon>
                                <span class="ml-2">Importer une Photo de vous</span>
                            </button>

                            <image-cropper
                                    style="width: 200px;"
                                    *ngIf="imageChangedEvent"
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="3 / 3"
                                    [format]="'jpeg'"
                                    [imageQuality]="20"
                                    (imageCropped)="imageCropped($event)"
                            ></image-cropper>
                        </div>
                    </div>


                    <div style="margin-bottom: 15px;" class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">

                        <button
                                [disabled]="saving == true"
                                (click)="signUp()"
                                style="color: white;"
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'">
                            S'inscrire
                        </button>
                        <mat-spinner [diameter]="20" *ngIf="saving == true"></mat-spinner>

                    </div>


        </div>
    </div>

</div>
